Reddit Ovarra/Reddit leads.json
{
  "name": "Reddit leads",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c1edc067-e449-4a8d-a5a2-10c22d79a08b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "CamGirlProblems",
        "keyword": "DMCA ",
        "additionalFields": {
          "sort": "relevance"
        }
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "bca90dd3-6fa1-44f2-b8ec-f6a26bdb31fe",
      "name": "Search for a post",
      "credentials": {
        "redditOAuth2Api": {
          "id": "ksYZuNhipQpKe7TW",
          "name": "Reddit account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fb09200-b9ac-4c8f-b5b4-bd24cfc9ea35",
              "name": "author",
              "value": "={{ $json.author }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        0
      ],
      "id": "1d1307f9-b5bf-45a3-8d0a-13ee46e1493d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      author: item.json.author,\n      comment_url: `https://www.reddit.com/user/${item.json.author}/comments.json`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ],
      "id": "e6afb7a6-9714-48b4-931f-aded43c2833c",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "CamGirlProblems",
        "keyword": "Leak ",
        "additionalFields": {
          "sort": "relevance"
        }
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "id": "b41e44d7-c081-49e5-b6fe-b1eb88231640",
      "name": "Search for a post1",
      "credentials": {
        "redditOAuth2Api": {
          "id": "ksYZuNhipQpKe7TW",
          "name": "Reddit account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search for a post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search for a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for a post": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Search for a post1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f24c06c5-b9b7-469b-931e-b3e289cf01a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e08a49cdd30f3334ee4323f8aa33e6c1127f5757ab5145d6efe8bd82c0ed2ba7"
  },
  "id": "w9M6CQE8NH5cJs17",
  "tags": []
}